<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class=" p-0" href="#">
      <img src=".\assets\img\BNAlogo.png" style="height: 70px;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/Home" class="navbar-item">Home</a>
      <a href="/services" class="navbar-item">Services</a>
      <a href="/contact" class="navbar-item">Contact Us</a>
      <a href="/about" class="navbar-item">About Us</a>

      <div class="navbar-item has-dropdown is-hoverable" >
        <a class="navbar-link">Login</a>
        <div class="navbar-dropdown">
          <a href="/customerlogin" class="navbar-item">Customer Login</a>
          <a href="/adminlogin" class="navbar-item">Corporate(Admin) Login</a>
        </div>
      </div>

    </div>
    <div class="navbar-item"></div></div>
    <div class="navbar-item" >
    </div>


</nav>
